<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <listener>
        <description>HttpSessionListener</description>
        <listener-class>Matriz.CountUserListener</listener-class>
    </listener>
    <servlet>
        <servlet-name>Matriz</servlet-name>
        <servlet-class>Matriz.Matriz</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Database</servlet-name>
        <servlet-class>Matriz.Database</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>loginDatabase</servlet-name>
        <servlet-class>Matriz.loginDatabase</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReadSudokuServlet</servlet-name>
        <servlet-class>Matriz.ReadSudokuServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletCookie2</servlet-name>
        <servlet-class>Matriz.ServletCookie2</servlet-class>
        <init-param>
            <param-name>saludo</param-name>
            <param-value>Welcome</param-value>
        </init-param>
    </servlet>
    <servlet-mapping>
        <servlet-name>Matriz</servlet-name>
        <url-pattern>/Matriz</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Database</servlet-name>
        <url-pattern>/Database</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>loginDatabase</servlet-name>
        <url-pattern>/loginDatabase</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReadSudokuServlet</servlet-name>
        <url-pattern>/ReadSudokuServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletCookie2</servlet-name>
        <url-pattern>/ServletCookie2</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>logOut</servlet-name>
        <servlet-class>Matriz.logOut</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>logOut</servlet-name>
        <url-pattern>/logOut</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
